.item a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #f7f5ef;
    color: black;
    transition: background-color 0.3s ease-out;
}

.item a:hover {
    background-color: #e7e5df;
}

.row {
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.row strong {
    font-weight: 500;
}

@media (max-width: 640px) {
    .item a {
        gap: 0.5rem;
    }
    .row {
        flex-direction: column;
        gap: 0.5rem;
    }
}
